html
  body
    nav.fd-global-nav
      .fd-global-nav__group.fd-global-nav__group--left
        .fd-global-nav__side-menu
          button.fd-button--secondary.fd-button--l.sap-icon--menu2.fd-global-nav__btn(aria-label="BUTTON_LABEL")
        .fd-global-nav__logo.fd-has-margin-left-none
        .fd-global-nav__product-name
          | Product Name
      .fd-global-nav__group.fd-global-nav__launchpad
        button.fd-button--secondary.fd-button--l(aria-haspopup="true" aria-controls="launchpad") Suite Name
        nav#launchpad.fd-mega-menu(aria-hidden="true")
          .fd-mega-menu__header
            a.fd-mega-menu__header-link.sap-icon--home(href="#") SAP Hybris Home
          .fd-mega-menu__group
            h1.fd-mega-menu__title Group Name
            ul.fd-mega-menu__list
              li.fd-mega-menu__item
                a.fd-mega-menu__link(href="#")
                  | item link
              li.fd-mega-menu__item
                a.fd-mega-menu__link.has-child(href="#" aria-controls="F73dk427" aria-haspopup="true")
                  | item link
                ul#F73dk427.fd-mega-menu__sublist(aria-hidden="true")
                  li.fd-mega-menu__subitem
                    a.fd-mega-menu__sublink(href="#")
                      | Link
                  li.fd-mega-menu__subitem
                    a.fd-mega-menu__sublink(href="#")
                      | Link
                  li.fd-mega-menu__subitem
                    a.fd-mega-menu__sublink(href="#")
                      | Link
              li.fd-mega-menu__item
                a.fd-mega-menu__link(href="#")
                  | item link
          .fd-mega-menu__group
            h1.fd-mega-menu__title Group Name
            ul.fd-mega-menu__list
              li.fd-mega-menu__item
                a.fd-mega-menu__link(href="#")
                  | item link
              li.fd-mega-menu__item
                a.fd-mega-menu__link.has-child(href="#" aria-controls="yP9Cn355" aria-haspopup="true")
                  | item link
                ul#yP9Cn355.fd-mega-menu__sublist(aria-hidden="true")
                  li.fd-mega-menu__subitem
                    a.fd-mega-menu__sublink(href="#")
                      | Link
                  li.fd-mega-menu__subitem
                    a.fd-mega-menu__sublink(href="#")
                      | Link
                  li.fd-mega-menu__subitem
                    a.fd-mega-menu__sublink(href="#")
                      | Link
              li.fd-mega-menu__item
                a.fd-mega-menu__link(href="#")
                  | item link
      .fd-global-nav__group.fd-global-nav__group--right
        .fd-global-nav__context-menu
          .fd-dropdown
            button.fd-dropdown__control.fd-dropdown__control--no-border.fd-button--secondary(aria-controls="BeE92701" aria-expanded="false" aria-haspopup="true")
              | Context Switcher
            nav#BeE92701.fd-dropdown__menu(aria-hidden="true")
              ul.fd-dropdown__list
                li
                  a.fd-dropdown__item(href="#") Link Name
                li
                  a.fd-dropdown__item(href="#") Link Name
                li
                  a.fd-dropdown__item(href="#") Link Name
                li
                  a.fd-dropdown__item(href="#") Link Name
                li
                  a.fd-dropdown__item(href="#") Link Name
        .fd-global-nav__actions
          .fd-global-nav__search
            button.fd-button--secondary.fd-button--m.sap-icon--search.fd-global-nav__btn(aria-label="BUTTON_LABEL" aria-controls="3Ac1t348" aria-haspopup="true" aria-expanded="false")
            input#3Ac1t348.fd-form__control(type="text" aria-hidden="true" placeholder="Search... ")
          button.fd-button--secondary.fd-button--m.sap-icon--action-settings.fd-global-nav__btn(aria-label="BUTTON_LABEL")
          button.fd-button--secondary.fd-button--m.fd-global-nav__btn(aria-label="BUTTON_LABEL")
            span.fd-identifier--s.fd-identifier--circle WW
