html
  body
    nav.fd-global-nav
      .fd-global-nav__group.fd-global-nav__group--left
        .fd-global-nav__logo.fd-has-margin-left-none
        .fd-global-nav__product-name
          |Numen
      .fd-global-nav__group.fd-global-nav__launchpad
        button.fd-button--secondary.fd-button--l(aria-haspopup="true" aria-controls="launchpad") Treinamento-web
        nav#launchpad.fd-mega-menu(aria-hidden="true")
          .fd-mega-menu__header
            a.fd-mega-menu__header-link.sap-icon--home(href="/") Home
            a.fd-mega-menu__header-link.sap-icon--product(href="/produtos") Produtos         
      .fd-global-nav__group.fd-global-nav__group--right
       .fd-global-nav__actions
          .fd-global-nav__search
            button.fd-button--secondary.fd-button--m.sap-icon--search.fd-global-nav__btn(aria-label="BUTTON_LABEL" aria-controls="3Ac1t348" aria-haspopup="true" aria-expanded="false")
            input#3Ac1t348.fd-form__control(type="text" aria-hidden="true" placeholder="Search... ")
          button.fd-button--secondary.fd-button--m.sap-icon--action-settings.fd-global-nav__btn(aria-label="BUTTON_LABEL")
          button.fd-button--secondary.fd-button--m.fd-global-nav__btn(aria-label="BUTTON_LABEL")
            span.fd-identifier--s.fd-identifier--circle WW
